
.reveal section img {
    border: 0;
    padding: 0;
    margin: 0;
}

.reveal pre {
    width: 100%;
    font-weight: 600; /* normal is 400, bold is 700 */
}
.reveal pre code {
    max-height: 100%;
}

section[data-state="no_list_decor"] ul {
    list-style-type: none;
}