.reveal .backgrounds {
    background-image: url("img/icon/lines.svg");
    background-repeat: repeat-y;
    background-size: 100% auto;
}

.reveal h2 {
    font-size: 1em;
}
strong {
    color: #FF510D;
    text-transform: uppercase;
}

.reveal section.title.present h1 {
    color: white;
    text-align: left;
    background-color:rgba(0,0,0,0.75);
    padding: .25em;
    font-size: 2em;
}
section[data-state="title_card"] h2 {
    color: white;
    background-color:rgba(0,0,0,0.75);
    padding: .25em;
    font-size: 2em;   
}

.reveal ul {
    list-style-type: square;
}
.reveal ul ul {
    list-style-type: disc;
}

.reveal section img {
    border: 0;
    padding: 16px;
    margin: 0;
    background: rgba(0,0,0,0.2);
}

.reveal pre {
    font-weight: 600; /* normal is 400, bold is 700 */
}
.reveal pre code {
    max-height: 100%;
}

section[data-state="no_list_decor"] ul {
    list-style-type: none;
}

#disclaimer > div:nth-child(2) > img:nth-child(1) {
    margin-top: 1em;
}
